:root {
  --header-height: 48px;
  --secondary-color-constant: 210, 10%;
  --secondary-color: hsl(var(--secondary-color-constant), 50%);
  --secondary-color-darker: hsl(var(--secondary-color-constant), 40%);
  --secondary-color-lighter: hsl(var(--secondary-color-constant), 80%);
  --marker-size: 10px;

  --black: #303439;
  --black-lighter: #1d1d2d;
  --white: #fff;
  --white-darker: #dddddd;
  --sidebar-width-opened: 280px;
  --sidebar-width-closed: 85px;
  --right-sidebar-width-opened: 700px;
  --topbar-height: 85px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

#root {
  background-color: #000; /* To return it black later*/
}


.x-mark {
  position: absolute;
  width: var(--marker-size);
  height: var(--marker-size);
  pointer-events: none;
}

.x-mark:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  font-size: var(--marker-size);
  color: #fff;
  line-height: 0;
  text-align: center;
  transform: translateX(-65%) translateY(-7%);
  pointer-events: none;
}


/********************************************************/
/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --black: #303439;
  --black-lighter: #1d1d2d;
  --white: #fff;
  --white-darker: #dddddd;
  --sidebar-width-opened: 300px;
  --sidebar-width-closed: 85px;
  --right-sidebar-width-opened: 550px;
  --topbar-height: 85px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

ul {
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.tool-tip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  height: 100%;
  pointer-events: none;
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 12px;
  white-space: nowrap;
}

._sidebar {
  width: var(--sidebar-width-closed);
  height: 100%;
  background: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.3s ease;
  white-space: nowrap;
}

._sidebar.open {
  width: var(--sidebar-width-opened);
}

._sidebar .logo_content {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*menu*/
._sidebar .logo_content i.menu {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: auto;
  color: var(--white);
}

._sidebar.open .logo_content i.menu {
  left: 90%;
  top: 50%;
}

._sidebar .logo_content .logo {
  position: absolute;
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  padding: 10px 0;
  opacity: 0;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
}

._sidebar.open .logo_content .logo {
  opacity: 1;
  pointer-events: auto;
}

._sidebar .logo_content .logo .logo_name {
  margin-left: 10px;
}

._sidebar .nav-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

._sidebar .nav-list li {
  position: relative;
  padding: 10px 0;
  height: 50px;
  margin: 0 0 10px 0;
}

._sidebar .nav-list li a {
  text-decoration: none;
  line-height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  border-radius: 12px;
  padding: 0 10px;
  color: var(--white);
}

._sidebar .nav-list li a i {
  line-height: 50px;
  margin-right: 0;
}

._sidebar.open .nav-list li a i {
  line-height: 50px;
  margin-right: 13px;
}

._sidebar .nav-list li:hover a,
._sidebar .nav-list li:hover a i,
._sidebar .nav-list li:hover a span,
._sidebar .nav-list li a.active,
._sidebar .nav-list li a.active i,
._sidebar .nav-list li a.active span {
  color: var(--black);
  background-color: var(--white);
}

._sidebar .nav-list li span {
  pointer-events: none;
  opacity: 0;
}

._sidebar.open .nav-list li span {
  pointer-events: auto;
  opacity: 1;
}

._sidebar .nav-list input[type="file"] {
  display: none;
}
._sidebar .nav-list button.upload {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  background-color: var(--white);
  cursor: pointer;
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  border: none;
  outline: none;
}

._sidebar .nav-list button.upload span {
  opacity: 0;
  transition: all 0.3s ease;
}

._sidebar.open .nav-list button.upload span {
  opacity: 1;
  color: var(--black);
}

._sidebar .nav-list button.upload i {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  position: absolute;
  color: var(--black);
  margin-right: 12px;
  font-weight: bold;
  font-size: 25px;
}

._sidebar li .tool-tip {
  transform: translateY(-30%);
  top: 0%;
  left: 110%;
  width: 150px;
  line-height: 50px;
}

._sidebar li:hover .tool-tip {
  opacity: 1;
  top: 50%;
}

._sidebar.open li .tool-tip {
  opacity: 0;
  display: none;
}

.main {
  position: relative;
  background: black;
  min-height: 100vh;
  height: calc(100vh - var(--topbar-height));
  top: 0;
  left: var(--sidebar-width-closed);
  width: calc(100% - var(--sidebar-width-closed));
  transition: all 0.3s ease;
  z-index: 2;
}

.main h1 {
  color: black;
}

._sidebar.open ~ .main {
  left: var(--sidebar-width-opened);
  width: calc(100% - var(--sidebar-width-opened));
}

/****************** TOPBAR *****************/
.topbar .v-divider {
  margin-left: 10px;
  margin-right: 10px;
  height: calc(var(--topbar-height) - 40px);
  width: 2px;
  border-radius: 10px;
  background-color: var(--black-lighter);
}

.topbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--topbar-height);
  background-color: var(--black);
  padding: 0 25px;
}

.topbar::after,
.topbar::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 100%;
  left: 0;
}

.topbar::before {
  background-color: var(--black);
}

.topbar::after {
  background-color: black;
  border-top-left-radius: 1000px;
}

.topbar .topbar_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar .sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.topbar .sub-section .tip {
  margin-bottom: 5px;
  color: var(--white-darker);
  font-weight: 300;
  font-size: 11px;
}
.topbar .content,
.topbar .content form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar .content form .input-window {
  width: 140px;
  background-color: var(--black-lighter);
  height: 35px;
  outline: none;
  border: none;
  color: var(--white);
  text-align: center;
  border-right: 1px solid var(--black);
  transition: all 0.3s ease;
}
.topbar .content form .input-window::placeholder {
  color: var(--white);
}

.topbar .content .input-window:focus {
  border-bottom: 1px solid var(--white);
}

.topbar .content *:last-child,
.topbar .content form *:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.topbar .content *:first-child,
.topbar .content form *:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.topbar ._btn {
  border: none;
  outline: none;
  height: 35px;
  padding: 0 10px;
  background-color: var(--black-lighter);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.topbar ._btn:hover {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

.topbar i {
  color: var(--white);
}

.topbar ._btn.meta {
  border-radius: 12px;
}

.topbar ._btn.meta i {
  margin-right: 10px;
}

.topbar ._btn.meta:hover i {
  color: var(--black);
}

/****************** TOOLBAR ***********************/
.toolbar {
  top: calc(var(--topbar-height));
  left: 0;
  margin: 5px 0 0 5px;
  display: flex;
  position: absolute;
  width: 40px;
  height: var(--toolbar-height);
  background-color: var(--black);
  border-radius: 100px;
  z-index: 1000;
}

.toolbar li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--black-lighter);
  cursor: pointer;
  transition: all 0.3s ease;

}

.toolbar li:hover,
.toolbar li.active {
  background-color: var(--white);
  color: var(--black);
}

.toolbar li i {
  color: var(--white);
}

.toolbar li:hover i,
.toolbar li.active i{
  color: var(--black);
}

.toolbar .tool-tip {
  left: 110%;
  top: -50%;
}

.toolbar li:hover .tool-tip {
  opacity: 1;
  top: 0;
}

/****************** RIGHT SIDEBAR ***********************/
.main .right-sidebar .opener-right-sideabar {
  position: fixed;
  top: calc(var(--topbar-height) + 10px);
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--black);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}

.main .right-sidebar .opener-right-sideabar:hover {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

.main .right-sidebar .opener-right-sideabar i {
  position: absolute;
  color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.main .right-sidebar .opener-right-sideabar:hover i {
  color: var(--black);
}

.main .right-sidebar .opener-right-sideabar .tool-tip {
  left: auto;
  right: 110%;
  width: auto;
  white-space: nowrap;
  top: -50%;
}

.main .right-sidebar .opener-right-sideabar:hover .tool-tip {
  opacity: 1;
  top: 0;
}


.main .right-sidebar .right-sidebar-content {
  position: absolute;
  top: var(--topbar-height);
  width: var(--right-sidebar-width-opened);
  right: -100%;
  height: 100%;
  background-color: var(--black);
  transition: all 0.5s ease;
  padding: 20px;
  z-index: 1000;
}

.main .right-sidebar.open .right-sidebar-content {
  right: 0;
}

.main .right-sidebar .right-sidebar-content .header .title h1 {
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--white);
  width: 100%;
  text-align: center;
}

.main .right-sidebar .right-sidebar-content .header i {
  position: absolute;
  color: var(--white);
  font-size: 30px;
  margin-right: 10px;
  right: 10px;
  top: 20px;
  cursor: pointer;
}

/******** MAIN CONTENT ********/

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.5s ease;
  height: calc(100% - var(--topbar-height));
}

.right-sidebar.open ~ .main-content {
  width: calc(100% - var(--right-sidebar-width-opened));
}

.main-content .content .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vh - var(--topbar-height) - 30px);
  height: calc(100vh - var(--topbar-height) - 30px);
  background-color: var(--black-lighter);
  border-radius: 10px;
  border: 2px dashed var(--white);
  overflow: hidden;
  position: relative;
}

.main-content .content .image-container.loaded {
  border: none;
}

.main-content .content .image-container img,
.main-content .content .image-marker {
  width: 100%;
  height:100%;
}

/***************** MODAL ***********************/
.modal-content {
  background-color: var(--black) !important;
}

.modal-content .modal-header {
  border-bottom: none;
}

.modal-content .modal-header .modal-title {
  width: 100%;
  text-align: center;
}


/*********************** RIGHT POPUP ***********************/
.right-popup {
  position: absolute;
  top: calc(var(--topbar-height) + 10px);
  right: 10px;
  width: 350px;
  border-radius: 12px;
  background-color: var(--black);
  transition: all 0.3s ease;
  z-index: 1000;
  padding: 20px;
}

.right-popup h1 {
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.right-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.right-popup ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.right-popup ul li:last-child {
  margin-bottom: 0;
}

.right-popup ul li .classification-item-name-percent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--white);
}

.right-popup ul li .classification-item-name-percent .classification-item-name {
  font-weight: 500;
}

.right-popup ul li .classification-item-bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    width:100%;
    height: 10px;
    background-color: var(--black-lighter);
    border-radius: 10px;
}

.right-popup ul li .classification-item-bar .classification-item-bar-fill {
    position: absolute;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    width: 30%;
    background-color: var(--white);
    transition: all 0.3s ease;
}



/*************** RIGHTSIDEBAR TABLE ******************/

.right-sidebar-content .histogram {
  height: calc(100% - 350);
}

.right-sidebar-content .table {
  height: 350px;
  overflow-y: auto;
}

.right-sidebar-content .table div {
  padding: 0 0 10px 0;
}

.right-sidebar table,
.right-sidebar .table .row,
.right-sidebar .table input,
.right-sidebar .table select {
  font-size: 0.9rem;
}

.table td,
.table .container-fluidthead,
.table *,
.modal-content * {
  color: var(--white) !important;
}

.table input,
.table select {
  color: var(--white) !important;
  background-color: var(--black-lighter) !important;
}

.table .col-md-2 input {
  width: 40px !important;
  text-align: center;
  
}

.table .col-md-2 {
  margin: 0 !important;
}

.table .col-md-2 select {
  width: 60px !important;
  margin-left: 0 !important;
}

.table .btn {
  background-color: var(--black-lighter) !important;
  border: none;
  margin: 0 5px;
  font-size: 0.6rem;
  outline: none !important;
}

.table .btn:focus {
  outline: none !important;
  border-color: var(--white) !important;
  box-shadow: 0 0 0 0.2rem var(--white) !important;
}

.table .btn:hover {
  background-color: var(--white) !important;
  color: var(--black) !important;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}
